@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
}

.q-container{
    height: 100vh;
    padding: 2%;
    background-image:linear-gradient(to bottom, rgb(116, 185, 255, 0.9), rgb(9, 132, 227, 1)),url('https://www.wallpapertip.com/wmimgs/124-1249648_police-hd.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

/* DEKSTOP */

@media (min-width: 1025px) {

    .question{

        padding: 20px;
        background-color: rgb(255, 255, 255, 0.3);
        border-radius: 5px;
        z-index: 200;
    }

    .question span {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    .option{
        padding: 20px;
        background-color: rgb(255, 255, 255, 0.3);
        border-radius: 10px;
        height: 65%;
        margin-top: 20px;
        overflow: auto;
        z-index: 2;
    }

    /* width */
        .option::-webkit-scrollbar {
        width: 20px;
    }
    
    /* Track */
    .option::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 5px;
    }
    
    /* Handle */
    .option::-webkit-scrollbar-thumb {
        background: black; 
        border-radius: 5px;
    }
    
    /* Handle on hover */
    .option::-webkit-scrollbar-thumb:hover {
        background: #222f3e; 
    }

    .option div{
        color: #fff;
        padding: 20px;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 1px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    

    .footer{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8vw, 1fr));
        column-gap: 10px;
        row-gap: 15px;
        margin-top: 2vh;
        transition: linear 0.5s;
        bottom: -300px;
    }

    .footer div{
        padding: 5px;
        margin-top: 5%;
    }

    .btn {
        width: 100%;
        aspect-ratio: 1;
        background-color: rgb(255, 255, 255, 0.3);
        padding: 15px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
        border: 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: linear 0.1s;
    }

    .btn:hover{
        transform: scale(1.05);
        background-color: rgb(255, 255, 255, 0.6);
    }

    .btn img{
        width: 50%;
    }

    .btn span{
        font-size: 12px;
        margin-top: 10px;
    }

    .footer2{
        position: absolute;
        width: 20%;
        display: flex;
        justify-content: center;
        justify-content: flex-end;
        margin-top: 2vh;
        transition: linear 0.5s;
        bottom: 20px;
        right: 30px;
    }

    .footer2 div{
        padding: 5px;
        margin-top: 5%;
    }

    .btn2 {
        width: 95%;
        aspect-ratio: 1;
        background-color: rgb(255, 255, 255, 0.3);
        padding: 15px;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
        border: 0px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: linear 0.1s;
    }

    .btn2:hover{
        transform: scale(1.05);
        background-color: rgb(255, 255, 255, 0.6);
    }

    .btn2 img{
        width: 50%;
    }

    .btn2 span{
        font-size: 12px;
        margin-top: 10px;
    }
}


/* TABLET */
@media screen and (min-width: 481px) and (max-width: 1024px) {

.question{

    padding: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    z-index: 200;
}

.question span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.option{
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 60%;
    margin-top: 20px;
    overflow: auto;
    z-index: 2;
}

/* width */
    .option::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .option::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  .option::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .option::-webkit-scrollbar-thumb:hover {
    background: #222f3e; 
  }

.option div{
    color: #fff;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13vw, 1fr));
    column-gap: 15px;
    margin-top: 2vh;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.footer div{
    /* width: 95%; */
    padding: 5px;
    margin-top: 5%;
}

.btn {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn img{
    width: 50%;
}

.btn span{
    font-size: 12px;
    margin-top: 10px;
}
}



