@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
}

.q-container{
    height: 100vh;
    padding: 5%;
}

.question{
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    
}

.question span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.option{
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    height: 48%;
    margin-top: 20px;
    overflow: auto;
}

/* width */
    .option::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .option::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  .option::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .option::-webkit-scrollbar-thumb:hover {
    background: #222f3e; 
  }

.option div{
    color: #fff;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer{
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    width: 88%;
}

.btn {
    width: 150px;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}